@using Vidly.ViewModel
@model FilmTemplateViewModel
@{
    ViewBag.Title = "New";
}

<h2>Add new movies</h2>
@Html.Partial("_EditBody")

@section scripts{

    @Scripts.Render("~/bundles/jqueryval")
}